<div class="about">
  <div class="about-title">
    <h1>About Me</h1>
    <div class="profile">
      <img src="/assets/profile.png" alt="" />
    </div>
  </div>
  <div class="introduction">
    <div class="description" data-aos="fade-down" data-aos-duration="3000">
      <h4>
        Born in Jakarta on October 18, 2001, Undergraduate student majoring in
        Computer Science at Binus University. Front End Developer with one year
        experience working with HTML, CSS, JavaScript to create a good user
        experience for customers. Accustomed to working together on projects,
        finding solutions, and working under pressure.
      </h4>
    </div>
  </div>
  <div class="skills">
    <div class="certificate">
      <h3>Certificate</h3>
      <button
        class="prev"
        (click)="prevSlide()"
        [disabled]="currentSlide === 0"
      >
        &#10094;
      </button>
      <div class="certificate-container">
        @for ( cert of certificates; track $index) {
        <div class="certificate-card" data-aos="fade-in" data-aos-duration="3000">
          <div class="card-image">
            <img [src]="cert.imgUrl" [alt]="cert.title" />
          </div>
          <div class="card-body">
            <p>{{ cert.title }}</p>
          </div>
        </div>
        }
      </div>
      <button
        class="next"
        (click)="nextSlide()"
        [disabled]="currentSlide === certificates.length - 1"
      >
        &#10095;
      </button>
    </div>
    <div class="skill">
      <h3>My Skills</h3>
      <div class="skill-part">
        <div class="front">
          <h5>Front End</h5>
          @for (skill of frontendSkills; track $index) {
          <div class="skill">
            <div class="one-skill" data-aos="fade-right" data-aos-duration="3000">
              <label>{{ skill.name }}</label>
              <img src="{{ skill.imgUrl }}" alt="{{ skill.name }}" />
              <span class="tooltip">{{ skill.description }}</span>
            </div>
          </div>
          }
        </div>
        <div class="back">
          <h5>Back End</h5>
          @for (skill of backendSkills; track $index) {
          <div class="skill">
            <div class="one-skill" data-aos="fade-left" data-aos-duration="3000">
              <label>{{ skill.name }}</label>
              <img src="{{ skill.imgUrl }}" alt="{{ skill.name }}" />
              <span class="tooltip">{{ skill.description }}</span>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
